body {
    margin: 0%;
    background-color: white;
    font-family: Arial, Helvetica, sans-serif;
}


header {
    text-align: center;
}

header img {
    width: 100%;
}

nav {
    background-color: #242697;
    color: white;
    padding: 10px 0 10px 0;
    margin-top: 0;
}

nav ul li {
    display: inline;
    margin: 0 25px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

a { padding: 10px;}

a:hover { background-color: #2d9ec2;
border-radius: 10px;
padding: 10px;}